<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="{{url_for('static', filename='about.css')}}"> 
</head>
<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Helping vulnerable animals and keeping pets in safe and loving homes requires a commitment from all of us advocates, pet owners, shelters, leaders, and entire communities. When we work together under a common cause, we’re both saving lives and elevating our society and its laws to ensure cruelty victims and other at-risk animals receive the protection and care they deserve.
            </p>
            <h4>By</h4>
            <br>
            <div class="skills">
                <span>Venktesh</span>
                <span>Namrata</span>
                <span>Riya</span>
                <span>Mayank</span>
            </div>
        </div>
    </div>
</body>
</html>