<!DOCTYPE html>
 <html lang="en"> 
     <head> 
         <meta charset="UTF-8"> 
         <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
         <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
         <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}"> 
         
         <title>My First Flask App!</title> 
    </head> 

    <body> 
        <header id="app-header">
            <div id="top">
                <img src="../static/logo.png" class="app-logo" >
                <p>WELCOME TO THE PET ADOPTION CENTRE</p>
                <p id="intro">Adopt the true friends from the shelters and make your home 
                    cheerfull.
                </p>
            </div>
            <div class="navigation">
            
            
                <div class="about">
                    <p>To know more about us </p>
                    <button class="button"> <a class="app-link" href="/about">ABOUT</a></button>
                </div>
                <div class="about">
                     <p>Already an exixting user login. </p>
                     <button class="button"> <a class="app-link" href="/login">LOGIN</a></button>
                 </div>
                 <div class="about">
                     <p>Click to create account </p>
                     <button class="button"> <a class="app-link" href="/signup">SIGNUP</a></button>
                 </div>
             
         </div>
         
        </header>
        <div class="pets">
            <table>
               <!--   <th>
                   <td>PET IMAGE</td>
                   <td>PET NAME</td>
                   <td>PET DESCRIPTION</td>
                </th>  -->
                {% for pet in pets%}
                <tr>
                    
                    <td><a href="{{url_for('details', id=pet['id'] )}}"><img src="{{url_for('static', filename=pet["id"]|string+".jpg")}}"></a></td>
                  <!--  <td> {{pet["name"]}} </td>
                    <td> {{pet["description"]}} </td> -->
                   
                </tr>
                {%endfor%}
            </table>
        </div>
          
        
        
      
    </body> 
</html> 
